<mat-card class="skills">
    <h1>PERÍCIAS</h1>
    <div>
        <mat-card>
            <h2>Força</h2>
            <div>
                <app-skill [skill]="'Atletismo'"></app-skill>
            </div>
        </mat-card>
        <mat-card>
            <h2>Destreza</h2>
            <div>
                <app-skill [skill]="'Acrobacia'"></app-skill>
                <app-skill [skill]="'Habilidade Manual'"></app-skill>
                <app-skill [skill]="'Furtividade'"></app-skill>
            </div>
        </mat-card>
        <mat-card>
            <h2>Inteligência</h2>
            <div>
                <app-skill [skill]="'Raciocínio'"></app-skill>
            </div>
        </mat-card>
        <mat-card>
            <h2>Sabedoria</h2>
            <div>
                <app-skill [skill]="'Intuição'"></app-skill>
                <app-skill [skill]="'Sobrevivência'"></app-skill>
            </div>
        </mat-card>
        <mat-card>
            <h2>Carisma</h2>
            <div>
                <app-skill [skill]="'Eloquência'"></app-skill>
                <app-skill [skill]="'Enganação'"></app-skill>
                <app-skill [skill]="'Intimidação'"></app-skill>
            </div>
        </mat-card>
    </div>
</mat-card>