<mat-card class="skills">
    <h1>PERÍCIAS</h1>
    <div>
        <app-skill-group [groupName]="'Força'" [skills]="['athletics']" [ability]="'strength'" [skillOrSpecializedSkillOrSavingThrows]="'skill'"></app-skill-group>
        <app-skill-group [groupName]="'Destreza'" [skills]="['acrobatics', 'sleightOfHand', 'stealth']" [ability]="'dexterity'" [skillOrSpecializedSkillOrSavingThrows]="'skill'"></app-skill-group>
        <app-skill-group [groupName]="'Inteligência'" [skills]="['reasoning']" [ability]="'intelligence'" [skillOrSpecializedSkillOrSavingThrows]="'skill'"></app-skill-group>
        <app-skill-group [groupName]="'Sabedoria'" [skills]="['insight', 'survival']" [ability]="'wisdom'" [skillOrSpecializedSkillOrSavingThrows]="'skill'"></app-skill-group>
        <app-skill-group [groupName]="'Carisma'" [skills]="['eloquence', 'deception', 'intimidation']" [ability]="'charisma'" [skillOrSpecializedSkillOrSavingThrows]="'skill'"></app-skill-group>
    </div>
</mat-card>