<mat-card class="spell" [ngClass]="{'is-trick': spell.level === 0}">
    <div class="is-prepared" *ngIf="!(spell.level === 0)">
        <input type="checkbox" name="name-form-field-input" [(ngModel)]="isPrepared" required>
    </div>
    <div class="name">
        <form class="name-form-field">
            <input type="text" placeholder="-" name="name-form-field-input" [(ngModel)]="name" required>
        </form>
    </div>
    <mat-card class="delete-button">
        <button mat-icon-button color="warn" (click)="removeSpell()"><mat-icon>delete</mat-icon></button>
    </mat-card>
</mat-card>
