<mat-card class="spells-by-level">
    <mat-card class="level-stats">
        <mat-card>
            <p><span>1</span>°</p>
        </mat-card>
        <mat-card>
            <p>4</p>
        </mat-card>
        <mat-card>
            <p>2</p>
        </mat-card>
    </mat-card>
    <mat-card>
        <p>xxxxxxxxxxxxxxxxxxx</p>
    </mat-card>
    <mat-card>
        <p>xxxxxxxxxx xxxxxxx xxxxxx</p>
    </mat-card>
    <mat-card>
        <p>xxxxxxx xxx</p>
    </mat-card>
    <mat-card>
        <p>xxxxxxxx</p>
    </mat-card>
    <mat-card>
        <p>xxxxxxxxxxxxxxxxxxx</p>
    </mat-card>
    <mat-card>
        <p>xxxxxxxxxx xxxxxxx xxxxxx</p>
    </mat-card>
    <mat-card>
        <p>xxxxxxx xxx</p>
    </mat-card>
    <mat-card>
        <p>xxxxxxxx</p>
    </mat-card>
</mat-card>

