<mat-card class="specialized-skill-card">
    <div class="proficiency-bonus">
        <form class="proficiency-bonus-form-field">
            <input type="text" placeholder="-" name="proficiency-bonus-form-field-input" [(ngModel)]="proficiencyBonus" required>
        </form>
    </div>
    <div class="modifier">
        <p>{{ (modifier >= 0 ? '+' : '') + modifier }}</p>
    </div>
    <div class="specialized-skill">
        <form class="specialized-skill-form-field">
            <input type="text" placeholder="-" name="specialized-skill-form-field-input" [(ngModel)]="specializedSkill" (change)="changeSpecializedSkill()" required>
        </form>
    </div>
    <mat-card class="delete-button">
        <button mat-icon-button color="warn" (click)="removeSpecializedSkill()"><mat-icon>delete</mat-icon></button>
    </mat-card>
</mat-card>