<mat-card class="header">
    <mat-card class="name">
        <input type="text" placeholder="-" name="name-input" [(ngModel)]="name" required>
    </mat-card>
    <mat-card class="informations">
        <input type="text" placeholder="-" name="alignment-input" [(ngModel)]="alignment" required>
        <input type="text" placeholder="-" name="race-input" [(ngModel)]="race" required>
        <input type="text" placeholder="-" name="sex-input" [(ngModel)]="sex" required>
        <input id="combatant-class" type="text" placeholder="-" name="combatant-class-input" [(ngModel)]="combatantClass" required>
        <input type="text" placeholder="-" name="backgroud-input" [(ngModel)]="backgroud" required>
    </mat-card>
    <mat-card class="experience">
        <h3>Experiência</h3>
        <div class="value">
            <input type="text" placeholder="-" name="experience-value-input" mask="000.000.000" [(ngModel)]="experience" required>
        </div>
    </mat-card>
    <mat-card class="description">
        <input type="text" placeholder="-" name="description-input" [(ngModel)]="description" required>
    </mat-card>
</mat-card>