.ability-scores {
    width: 120px;
    background-color: rgb(140, 140, 140);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.ability-scores div {
    display: grid;
    gap: 20px;
}