<mat-card class="characteristic">
  <mat-card-header>
    <mat-card-title>
      <form #seuFormulario="ngForm" class="proficiency-bonus-form-field">
        <input type="text" placeholder="-" name="seuCampo" [(ngModel)]="name" required>
      </form>
      <mat-card class="delete-button">
        <button mat-icon-button color="warn" (click)="removeCharacteristic()"><mat-icon>delete</mat-icon></button>
      </mat-card>
    </mat-card-title>
    <mat-card-subtitle>
      <form #seuFormulario="ngForm" class="proficiency-bonus-form-field">
        <input type="text" placeholder="-" name="seuCampo" [(ngModel)]="source" required>
      </form>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #seuFormulario="ngForm" class="proficiency-bonus-form-field">
      <textarea cdkTextareaAutosize type="text" placeholder="-" name="seuCampo" [(ngModel)]="description" required></textarea>
    </form>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="characteristic">
  <mat-card-header>
    <mat-card-title>Ancestralidade Feérica</mat-card-title>
    <mat-card-subtitle>Meio-Elfo</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Nenhum tipo de magia pode colocá-lo para dormir, e você tem vantagem em salvaguardas contra ser enfeitiçado.
    </p>
  </mat-card-content>
</mat-card> -->