<mat-card class="attack">
    <div class="name-and-edit-buttons">
        <mat-card class="name">
            <p><span>{{ weapon.name + '. ' }}</span> {{ weapon.type + '; ' + weapon.hands }}</p>
        </mat-card>
        <mat-card class="edit-buttons">
          <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
        </mat-card>
    </div>
    <mat-card>
        <p>{{ (attackBonus >= 0 ? '+' : '') + attackBonus }}</p>
    </mat-card>
    <mat-card>
        <p>{{ weapon.range + ', ' + weapon.targets }}</p>
    </mat-card>
    <mat-card class="damage-type">
        <mat-card>
            <p>{{ weapon.damageDie }}</p>
        </mat-card>
        <mat-card>
            <p>{{ (damageBonus >= 0 ? '+' : '') + damageBonus }}</p>
        </mat-card>
        <mat-card>
            <p>{{ weapon.damageType }}</p>
        </mat-card>
    </mat-card>
</mat-card>
