<mat-card class="attack">
    <mat-card class="name-and-edit-buttons">
        <mat-card class="name">
            <p><span>Adaga.</span> Arma Corpo a Corpo; Uma mão</p>
        </mat-card>
        <mat-card class="edit-buttons">
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"><mat-icon>home</mat-icon></button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"><mat-icon>home</mat-icon></button>
        </mat-card>
    </mat-card>
    <mat-card>
        <p>+5</p>
    </mat-card>
    <mat-card>
        <p>1,5 m, um alvo</p>
    </mat-card>
    <mat-card class="damage-type">
        <mat-card>
            <p>1d4</p>
        </mat-card>
        <mat-card>
            <p>+3</p>
        </mat-card>
        <mat-card>
            <p>cortante</p>
        </mat-card>
    </mat-card>
</mat-card>
