<mat-card class="character-sheet" *ngIf="dadosCarregados">
    <mat-card class="section_1">
        <app-character-sheet-header></app-character-sheet-header>
    </mat-card>
    <mat-card class="section_2">
        <div class="section_2__1">
            <div class="section_2__1___1">
                <div class="section_2__1___1____1">
                    <app-ability-scores></app-ability-scores>
                </div>
                <div class="section_2__1___1____2">
                    <app-inspiration></app-inspiration>
                    <app-proficiency-bonus></app-proficiency-bonus>
                    <app-saving-throws></app-saving-throws>
                    <app-skills></app-skills>
                </div>
            </div>
            <div class="section_1__1___2">
                <app-senses></app-senses>
                <app-specialized-skills></app-specialized-skills>
            </div>
        </div>
        <div class="section_2__2">
            <app-combat-stats></app-combat-stats>
            <!-- <app-attacks></app-attacks> -->
            <app-wielded-items></app-wielded-items>
            <app-spellcasting></app-spellcasting>
        </div>
        <div class="section_2__3">
            <app-characteristics></app-characteristics>
        </div>
    </mat-card>
    <mat-card>
        <app-inventory style="margin: 20px;"></app-inventory>
    </mat-card>
</mat-card>