.character-sheet {
  width: 1300px;
  background-color: rgb(180, 180, 180);
  padding: 10px;
  display: grid;
  gap: 10px;
}

.character-sheet mat-card {
  background-color: rgb(200, 200, 200);
  border-radius: 15px;
}

.section_1 {
  background-color: rgb(220, 220, 220);
  padding: 10px;
}

.section_2 {
  padding: 10px;
  display: grid;
  grid-template-columns: 392px auto 322px;
  align-items: start;
  gap: 10px;
}

.section_2__1 {
  display: grid;
  justify-content: center;
  align-items: start;
}

.section_2__2 {
    display: grid;
    align-items: start;
    gap: 10px;
}

.section_2__1___1 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.section_2__1___1____2 {
  display: grid;
  justify-content: center;
  align-items: start;
}