.skill-group div {
    display: grid;
    gap: 10px;
}

.skill-group {
    width: 244px;
    padding: 3px;
    background-color: rgb(200, 200, 200);
    border-radius: 15px;
}

.skill-group h2 {
    margin: 2px 0px 5px 7px;
    color: rgb(160, 160, 160);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(20, 20, 20);
    font-size: 20px;
    font-weight: bold;
}

.skill-group div {
    position: relative;
    display: grid;
    gap: 3px;
}