<div class="life-bar-area">
    <div class="current-life-points">
        <div class="current-life-points-value">
            <p>21</p>
        </div>
        <div class="current-life-points-title">
            <h6>PONTOS DE VIDA ATUAIS</h6>
        </div>
    </div>

    <div>
        <div class="life-bar">
    
        </div>
    
        <div class="temporary-life-bar">
    
        </div>
    
        <div class="temporary-life-points">
            <div class="temporary-life-points-value">
                <p>4</p>
            </div>
            <div class="temporary-life-points-title">
                <h6>PONTOS DE VIDA TEMPORÁRIOS</h6>
            </div>
        </div>
    </div>


    <div class="maximum-life-points">
        <div class="maximum-life-points-value">
            <p>27</p>
        </div>
        <div class="maximum-life-points-title">
            <h6>PONTOS DE VIDA MÁXIMOS</h6>
        </div>
    </div>
</div>
