.armor-class {
    width: 360px;
    padding: 3px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

.armor-class mat-card {
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}

.armor-class .name {
    height: 23px;
    color: rgb(160, 160, 160);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(20, 20, 20);
    font-size: 23px;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-content: center;
}

.armor-class .name h3 {
    margin: 0px;
    font-size: 18px;
}

.armor-class .armor-class-limits {
    height: 63px;
    display: grid;
    align-items: center;
    grid-template-columns: 94.5px 94.5px 94.5px 94.5px;
    gap: 2px;
}

.dodge-bonus-title {
    margin-bottom: 2px;
    display: grid;
}

.dodge-bonus {
    height: 32px;
    display: grid;
}

.armor-bonus-title {
    position: relative;
    right: 10px;
    margin-bottom: 2px;
    display: grid;
}

.armor-bonus {
    position: relative;
    right: 10px;
    height: 36px;
    display: grid;
}

.shield-bonus-title {
    position: relative;
    right: 20px;
    margin-bottom: 2px;
    display: grid;
}

.shield-bonus {
    position: relative;
    right: 20px;
    height: 40px;
    display: grid;
}

.hit-title {
    position: relative;
    right: 30px;
    margin-bottom: 2px;
    display: grid;
}

.hit {
    position: relative;
    right: 30px;
    height: 44px;
    display: grid;
}

h6 {
    margin: 0px;
    color: rgb(0, 0, 0);
    font-size: 8px;
    justify-self: center;
}

p {
    margin: 0px;
    color: rgb(160, 160, 160);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(20, 20, 20);
    font-size: 23px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}