.combat-stats {
  padding: 5px;
  background-color: rgb(160, 160, 160);
  border-radius: 15px;
  display: grid;
  gap: 5px;
}

.combat-stats mat-card {
  padding: 5px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  display: grid;
}

.hit-dice-and-death-saves {
  display: grid;
  grid-template-columns: auto auto;
}

.hit-dice-and-death-saves .hit-dice {
  margin-right: 5px;
  display: grid;
  justify-content: end;
  align-items: center;
}

.hit-dice-and-death-saves .death-saves {
  margin-left: 5px;
  display: grid;
  justify-content: start;
  align-items: center;
}