<mat-card class="skill-card" [ngClass]="{
  'saving-throws': skillOrOrSavingThrow === 'saving-throws'
}">
    <div class="proficiency-bonus">
      <form class="proficiency-bonus-form-field">
        <input type="text" placeholder="-" name="proficiency-bonus-form-field-input" [(ngModel)]="proficiencyBonus" required>
      </form>
    </div>
    <div class="modifier">
        <p>{{ (modifier >= 0 ? '+' : '') + modifier }}</p>
    </div>
    <div class="skill">
        <p>{{ skill }}<p>
    </div>
</mat-card>