<mat-card class="skill-card" [ngClass]="{
  'specialized-skill': skillOrSpecializedSkillOrSavingThrows === 'specialized-skill',
  'saving-throws': skillOrSpecializedSkillOrSavingThrows === 'saving-throws'
}">
    <div class="proficiency-bonus">
      <form #seuFormulario="ngForm" class="proficiency-bonus-form-field">
        <input type="text" placeholder="-" name="seuCampo" [(ngModel)]="proficiencyBonus" (input)="update()" required>
      </form>
    </div>
    <div class="modifier">
        <p>{{ '+' + modifier }}</p>
    </div>
    <div class="skill">
        <p>{{ translateSkillFromENToPT(skill) }}<p>
    </div>
</mat-card>