.specialized-skills {
    width: 382px;
    margin: 10px 5px;
    padding: 3px;
    background-color: rgb(180, 180, 180);
    border-radius:15px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.specialized-skills h1 {
    margin: 5px 0px;
    color: rgb(20, 20, 20);
    font-size: 18px;
    font-weight: bold;
}

.specialized-skills div {
    display: grid;
    gap: 10px;
}